{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Estilos para todas las paginas que hereden de esta plantilla -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

    <!-- Bloque para incrustar otros css diferentes por pagina -->
    {% block extracss %}<link rel="stylesheet" type="text/css" href="{% static 'css2/basic_style.css' %}">{% endblock %}
    <title>{% block title %}Libreria Sempere e Hijos{% endblock %}</title>
  </head>

  <body onload="cargar();">
    <header>
      {% block header %}
        {% include 'base/nav.html' %}
      {% endblock %}
    </header>
    {% block content %}

    <div class="center">
      <!-- <div class="vista"> -->
        {% for categoria in categorias %}

          <div class="conjunto">
            <div class="categoria">
              {{ categoria.nombre }}
            </div>
            <div class="libro">
              {% for producto in productos %}
                {% if producto.categoria_id == categoria.id %}
                  {% if producto.n_existencias != 0 %}

                    <div class="unidad" id='{{producto.id}}'>
                      <i class="fa fa-book" aria-hidden="true"></i>
                      <span class="titulo"> {{ producto.nombreProducto }} </span>
                      <span class="autor"> {{ producto.descripcion }} </span>
                      <span class="costo" > $ <span id='costo{{producto.id}}' class="cos">{{ producto.costo }}</span></span>
                      <span class="costo">En existencia: {{producto.n_existencias}}</span>
                      <input type="number" class="number" id="numero{{producto.id}}" max='{{producto.n_existencias}}' min="0" value="0" onchange="sumar({{producto.id}});" >
                    </div>
                  {% endif %}
                {% endif%}
              {% endfor %}
            </div>
          </div>
        {% endfor%}
      <button class="comprar" type="button" name="button" onclick="realizarCompra();"> COMPRAR </button>
    </div>
    <div class="center" id="cen">
      <div class="modal">
        <span id="T">Realizar compra</span>
        <span>Articulos comprados:</span>
        <span id="articulos"></span>
        <span>Total:</span>
        <span id="total">$</span>
        <button type="button" class="compra" name="button" onclick="comprar();">Comprar</button>

      </div>
    </div>
    {% endblock %}
  </body>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/funciones.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</html>
