<nav class="navbar navbar-expand-lg navbar-dark bg-dark head">
  <a class="navbar-brand" href="/producto/index">Libreria Sempere e Hijos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/producto/productos">productos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/producto/categorias">Categorias</a>
      </li>
    </ul>
  </div>
</nav>
