{% extends 'base/index.html' %}
{% load staticfiles %}
{% block extracss %}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-8">
			<h1>Registro de nueva categoria</h1>
      <form method="post">
        {% csrf_token %}
		  	{{ form.as_p }}
		  	<button type="submit" class="btn btn-success">Enviar</button>
		  	</form>
	  	</div>
  	</div>
</div>
{% endblock %}
