*{
	margin: 0px;
	padding: 0px;
}
html, body{
	background:#C2516C;
}

.head{

  background:#393338 !important;

}

.center{
  position: fixed;
  background: #C2516C;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
	align-items: center;
	overflow: auto;
	flex-wrap: wrap;
}


.conjunto{
	margin-top: 25px;
	margin-bottom:25px;
	height: auto;
	width: 60%;
	display: flex;
	flex-wrap: wrap;
}
.categoria{
	background: #CF8C97;
	height: 20%;
	width: 100%;
	font-weight: bold;
	color: #EDEDEE;
	display: flex;
	justify-content: center;
	letter-spacing: 0.3em;

}
.libro{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}
.unidad{
	background: #CEB8C3;
 	width: 25%;
	height: 220px;
	box-shadow: 2px 3px 3px #BA9AAA;
	display: flex;
	justify-content: center;
	margin: 7px 7px 7px 7px;
	flex-wrap: wrap;
	float: left;
}
.unidad i{
	font-size:80px;
	margin-top: 5px;
	color: #53313C;
}
.number{
	outline: none;
	border: none;
	background: #968196;
	color: #FFFFFF;
	font-family: monospace;
	font-weight: lighter;
	font-size: 1.5em;
	border-radius: 5px;
	height: 15%;
	width: 50px;
	padding-left: 18px;
	float: left;
}
#cen{
	display: none;
}
.modal{
	margin-top:12%;
	margin-left: 30%;
	display: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 50%;
	background: #C66459;
	border-radius: 10px;
}
.modal span{
	width: 80%;
	height: 20px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: monospace;
	font-weight: lighter;
}
#T{
	font-size: 50px !important;
	font-weight: bold !important;
}
#articulos{
	margin-left: 25%;
}
#total{
	margin-left: 25%;
}
/* #arriba{
	margin-top: 3px;
}
#abajo{
	margin-top: 3px;;
} */
.titulo{
	height: 15% !important;
	width: 100%;
	color: #FFFFFF;
	font-family: monospace;
	font-weight: 50;
	display: flex;
	font-size: 1.3em;
	justify-content: center;
	margin-top: -5%;
}
.autor{
	height: 15% !important;
	width: 100%;
	color: #FFFFFF;
	font-family: monospace;
	font-weight: 50;
	display: flex;
	font-size: 1em;
	justify-content: center;
	margin-top: -5%;
	height: auto;
}
.costo{
	height: 15% !important;
	width: 100%;
	color: #FFFFFF;
	font-family: monospace;
	font-weight: 100;
	display: flex;
	font-size: 1.3em;
	justify-content: center;
	margin-top: -5%;
	align-items: center;
}
.cos{
	height: 15% !important;
	width: 50%;
	color: #FFFFFF;
	font-family: monospace;
	font-weight: 100;
	display: flex;
	font-size: 1.3em;
	justify-content: center;
	margin-top: -2%;
	align-items: center;
}
.comprar{
	display: none;
	width: 10%;
	height: 10%;
	border: #CF8B97;
	background: #53313C;
	border-radius: 5px;
	color: #EDEDEE;
	position: fixed;
	margin-top: 15%;
	margin-left: 40%;
	letter-spacing: 0.3em;
	outline: none;
	box-shadow: 2px 3px 3px #BA9AAA;
}
.comprar:hover{
		box-shadow: 1px 1px 3px #BA9AAA;
		outline: none;
		background: #893046
}
.comprar:active{
	box-shadow: 0px 0px;
	outline: none;
}
.comprar:focus{
	outline: none;
}
.compra{
	width: 30%;
	height: 10%;
	border: #CF8B97;
	background: #53313C;
	border-radius: 5px;
	color: #EDEDEE;
	letter-spacing: 0.3em;
	outline: none;
	box-shadow: 2px 3px 3px #BA9AAA;
}
.compra:hover{
		box-shadow: 1px 1px 3px #BA9AAA;
		outline: none;
		background: #893046
}
.compra:active{
	box-shadow: 0px 0px;
	outline: none;
}
.compra:focus{
	outline: none;
}
}
.menu{
  width: 50px;
  height: 50px;
  /* filter: invert(1); */
}
 .info{
  height: 50%;
	margin-left: 5%;
  width: 90%;
	margin-top: 5%;
  color:#9E9E9E;
  font-family: monospace;
  font-size: 25px;
}

.info table{
  width: 100% !important;
  border:none;
	box-sizing: border-box;
}
.linea{
	width: 30% !important;
}

#titulo{
	display: flex;
	justify-content: space-between;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
}
#table{
	width: 80%;
	height: 80%;
}
#cuerpo{
	display: flex;
	justify-content: space-between;
  background: #616161;
  color :rgb(255,255,255);
}
.col{
	color:rgb(0,0,0);
	background: #fff;
}
.foto{
	width: 100%;
	height: 50%;
	position: relative;
}
.foto img{
	width: 100%;
	height: 100%;
}
.botones{
	width: 100%;
	height: 50%;
	position: relative;
	float: left;
	display: flex;
	justify-content: space-around;
}
